* {
    box-sizing: border-box;
}

.sun {
    background: linear-gradient(#ebbd17, #fbac73, #aba1de);
    height: 90px;
    width: 90px;
    left: 45%;
    z-index: 4;
    border-radius: 50%;
    position: absolute;
    animation-name: rising-sun;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

.sky {
    background: radial-gradient(circle at bottom, #e4bbb3, #fbac73, #aba1de, #aba1de);
    width: 100%;
    height: 190vh;
    position: absolute;
    z-index: 2;
    animation-name: sky;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes rising-sun {
    0% {
        bottom: -10vh;
    }
    100% {
        bottom: 100vh;
    }
}

@keyframes sky {
    0% {
        top: 0vh;
    }
    100% {
        top: -100vh;
    }
}

.blue-sky {
    background-color: #99ccff;
    width: 100%;
    height: 200vh;
    position: absolute;
    z-index: 3;
    animation-name: blue-sky;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes blue-sky {
    0% {
        opacity: 0;
        top: 0vh;
    }
    100% {
        opacity: 1;
        top: -100vh;
    }
}

.yellow-sun {
    background: radial-gradient(#FFFFFF, #e4bc3f);
    height: 90px;
    width: 90px;
    left: 45%;
    z-index: 9;
    border-radius: 50%;
    position: absolute;
    animation-name: yellow-sun;
    animation-duration: 40s;
    animation-fill-mode: forwards;
    overflow: hidden;
}

@keyframes yellow-sun {
    0% {
        opacity: 0;
        bottom: -10vh;
    }
    100% {
        bottom: 100vh;
        opacity: 1;
    }
}

.size-limit {
    width: 100%;
    height: 95vh;
    overflow: hidden;
    position: relative;
    z-index: 10;
}