* {
  box-sizing: border-box;
}

#header-img {
  object-fit: contain;
  max-width: 60%;
  border-radius: 50%;
  margin: 20px;
  align-self: center;
  justify-self: start;
}

nav {
  position: sticky;
  overflow: visible;
  top: 0px;
  max-height: 10vh;
  width: 100%;
  font-size: clamp(1em 3vw 2em);
  display: flex;
  flex-wrap: wrap;
  background-color: green;
  align-items: center;
  justify-content: stretch;
  
}

a:link {
  text-decoration: none;
  color: black;
  font-family: arial;
  padding: 15px;
}

a:hover {
  background-color: black;
  color: white;
}
header{height: 90vh;}
.title {
  display: grid;
  width: 100%;
  min-height: 25vh;
  grid-template-columns: .3fr 1.7fr;
  grid-template-rows: auto;
  font-family: arial;
  align-items: center;
  justify-items: start;
  font-size: clamp(3em, 20vw, 4em);
  color: white;
  background-color: black;
}

.splash-img {
  background-image: url("https://cdn.discordapp.com/attachments/515327418366427136/757577663262097528/IMG_2974.JPG");
  height: 65vh;
  background-size: 70%, auto;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center, -2000px;
  width: 100%;
  
}

h2 {
  font-family: arial;
  font-size: clamp(1.5rem, 3.5vw, 4.0rem);
  margin: 10px;
}

h3 {
  align-self: center;
}

section {
  display: grid;
  align-items: center;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: clamp(1rem, 3vw, 2rem);
  margin: 10px 50px 10px 50px;
  line-height: 150%;
}

.products-display {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  margin: 50px;
}

.products {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: space-between;
}

.meats {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  justify-content: center;
}

.video-container-two {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
}

.video {
  position: relative;
  padding: 40% 0px 40% 0px;
  /* 16:9 */
  height: 0;
  width: 60%;
  margin: 0px 20% 0px 20%;
  justify-self: center;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 747px;
  max-height: 420px;
  height: 100%;
}

/*thanks too*https://css-tricks.com/fluid-width-video/ for the last two styles*/

@media only screen and (max-width: 400px) {
  .title {
    font-size: 14px;
    grid-template-columns: 1fr;
    padding: 20px;
  }
  img {
    padding: 7vw;
  }
  nav {
    font-size: 12px;
  }
}